<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BForEntities" connectionString="metadata=res://*/BForModel.csdl|res://*/BForModel.ssdl|res://*/BForModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MICHAELTSURFACE\SQLEXPRESS;initial catalog=BFor;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>